{
  "presets": [
    "node6",
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "syntax-dynamic-import",
    "transform-class-properties",
    ["module-resolver", {
      "root": ["src"],
      "alias": {
        "material-ui/core":"@material-ui/core",
        "material-ui/icons":"@material-ui/icons",
      },
    }]
  ],
  "retainLines": true
}
